<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorate="~{layout}">
  <head>
    <meta charset="UTF-8" />
    <title>Anuncios</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
  </head>
  <body>
    <main id="content" layout:fragment="content" hx-history-elt>
      <div class="mt-6 flex flex-col">
        <div th:each="anuncio : ${anuncios}">
          <div
            class="p-4 mx-4 mb-4 max-w-md cursor-pointer bg-white rounded-lg shadow-md"
            th:hx-get="@{|/anuncios/${anuncio.id}|}"
            hx-select="#content"
            hx-target="#content"
            hx-swap="outerHTML show:window:top"
            hx-push-url="true"
          >
            <div class="flex justify-center">
              <img
                th:src="@{|/${anuncio.imagem}|}"
                alt="Product"
                class="h-48 w-auto object-cover rounded-lg"
              />
            </div>
            <div class="px-4 mt-2">
              <h2 class="text-lg font-bold mb-2" th:text="${anuncio.nome}">
                Nome de anuncio
              </h2>
              <p
                class="text-gray-600 text-sm mb-2"
                th:text="|anunciado há ${@dateUtils.formataStrEmTempoRelativo(anuncio.criadoEm)}|"
              >
                Criado em: {{ criadoEm }}
              </p>
              <p
                class="text-xl font-bold mb-2"
                th:text="|R$ ${#numbers.formatDecimal(anuncio.valor, 1, 2, 'COMMA')}|"
              >
                R$ {{ valor }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
